.whitechessboard {
    background-color: white;
    border: 1px solid dimgrey;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
}

.blackchessboard {
    background-color: dimgrey;
    border: 1px solid dimgrey;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
}


.chessdesk {
    display: flex;
    flex-wrap: wrap;

}

.letter {
    color: black;
    font-family: Times, Times New Roman, Georgia, serif;
    ;
    font-size: 20px;
    width: 62px;
    height: 62px;
    text-align: center;


}

.number {
    height: 42px;
    width: 62px;
    color: black;
    font-family: Times, Times New Roman, Georgia, serif;
    ;
    font-size: 20px;
    text-align: end;
}

.padding-top {
    padding-top: 20px;

}

.rotate {
    transform: rotate(180deg);
}
