#d1{
    height: 600px;
    width: 100%;
    background-color: floralwhite;
    margin-top: 30px;
}
#d2{
    display: flex;
    height: 300px;
    width: 100%;
}
.good{
    widows: 30%;
    border: 1px solid brown;
    background-color: floralwhite;
    padding: 20px;
}
.name{
    color: brown;
    font-weight: 400;
}
.price{
    color: brown;
    font-weight: 400;
}
.addgood{
    background-color: brown;
    color: floralwhite;
    border: 1px solid brown;
}
.name-court{
    background-color: brown;
    color: floralwhite;
    padding-left: 20px;
}
.court-good{
    display: flex;
    flex-wrap: wrap;
    
}
.court-price{
    width: 120px;
    height: 60px;
    border: 1px solid brown;
    background-color: floralwhite;
    text-align: center;
}
.court-name{
    width: 150px;
    height: 60px;
    border: 1px solid brown;
    background-color: floralwhite;
    text-align: center;
    font-weight: 700;
}
.good-1-court, .good-2-court, .good-3-court{
    display: flex;
    padding-bottom: 5px;
    margin-left: 20px;
}
.sumall{
    margin-left: 20px;
    margin-top: 5px;
    background-color: brown;
    color: floralwhite;
    width: 200px;
    height: 50px;
    border: 1px solid brown;
}
.sum{
    margin-top: 5px;
    color: brown;
    border: 1px solid brown;
    margin-left: 20px;
    width: 120px;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}